{% extends "couriermanage/base.html" %}
{% block content %}
	<section class="page-shell content-narrow">
	<div class="surface form-area">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend><h1>Create your account</h1></legend>
				<p class="page-intro">Set up access to your Shiplify package desk.</p>
				{{ form.as_p }}
			</fieldset>
			<div class="form-actions">
				<button class="button" type="submit">Create account</button>
			</div>
		</form>
		<p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
	</div>
	</div>
	</section>
{% endblock content %}